<div class="map-selector__option">
  <%= content_tag :div, nil, class: "map-selector__option-background", style: background_image(map.image) %>
  <%= content_tag :div, class: "map-selector__option-overlay", data: {
    action: "click->campaign#chooseMapOption",
    map_id: map.id
  } do %>
    <%= link_to "Edit", edit_map_path(map), remote: true %>
    <%= content_tag :span, map.name, class: "map-selector__option-text" %>
  <% end %>
</div>
