  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit class: "btn" %>
    </div>

    <hr class="my-4">

    <div class="text-sm">
      <% if Clearance.configuration.allow_sign_up? %>
        Already have an account? <%= link_to t(".sign_in"), sign_in_path, class: "text-blue-500 hover:text-blue-800" %>
      <% end %>
    </div>
  <% end %>
