<%= content_tag :div,
  class: "token",
  data: {
    controller: "css-var",
    target: "map.token",
    action: "mousedown->map#startMove mousemove->map#moveToken mouseup->map#finishMove",
    token_id: token.id,
    x: token.x,
    y: token.y,
    "css-vars": "x y"
  } do %>
  <%= content_tag :div, "", class: "token__image", style: "background-image: url('#{url_for token.image}');" %>
  <span class="token__name"><%= token.name %></span>
<% end %>
