<%= content_tag :div,
  class: "token",
  draggable: true,
  data: {
    controller: "css-var sync-values",
    target: "map--tokens.token",
    action: "dragenter->map--tokens#dragOverToken dragstart->map--tokens#startMoveToken drag->map--tokens#moveToken dragend->map--tokens#endMoveToken click->map--tokens#toggleTokenSelect mousedown->map--tokens#stopPropagation",
    token_id: token.id,
    edit_url: edit_campaign_map_token_path(token.map.campaign, token.map, token),
    x: token.x,
    y: token.y,
    "size-scale": token.size_scale,
    copy_on_place: token.copy_on_place?,
    "css-vars": "x y size-scale",
    "sync-values-channel": "TokenChannel",
    "sync-values-action": "move",
    "sync-values-channel-id": token.id,
    "sync-values-keys": "x y"
  } do %>
  <%= content_tag :div, "", class: "token__image", style: background_image(token.image) do %>
    <% if token.identifier.present? %>
      <span class="token__identifier"><%= token.identifier %></span>
    <% end %>
  <% end %>
  <span class="token__name"><%= token.name %></span>
<% end %>
