.character {
  @apply
    flex
    items-center
    ml-1
    relative;
}

.character__image {
  @apply
    bg-cover
    bg-center
    inline-block
    text-center
    text-lg
    text-gray-500
    rounded-full
    border-white
    bg-gray-200
    border-2
    pointer-events-none
    z-0
    shadow
    h-12
    w-12
    pt-2;

  border-width: 2px;
}

.character__name {
  @apply
    hidden
    bg-gray-900
    rounded-full
    px-2
    text-xs
    text-white
    z-10
    opacity-75
    pointer-events-none
    absolute
    whitespace-no-wrap;

  right: 0;
  top: -0.5rem;
}

.character:hover .character__name {
  @apply block;
}
