.current-map {
  @apply w-full;

  cursor: move;
  user-select: none;

  .controls {
    :disabled {
      @apply cursor-not-allowed;

      svg {
        @apply text-gray-400;
      }
    }
  }

  .action {
    @apply opacity-100;
    transition: opacity 0.2s ease-in-out;

    &:disabled {
      @apply opacity-50;
    }
  }

  .action {
    @apply opacity-100;
    transition: opacity 0.2s ease-in-out;

    &:disabled {
      @apply opacity-50;
    }
  }
}

.current-map__image {
  background-size: cover;
  height: calc(var(--original-height) * 1px);
  position: absolute;
  transform: translateX(calc(((var(--viewport-x) / 2) - (var(--x) * var(--zoom-amount))) * 1px))
    translateY(calc(((var(--viewport-y) / 2) - (var(--y) * var(--zoom-amount))) * 1px))
    translateZ(0)
    scaleX(var(--zoom-amount))
    scaleY(var(--zoom-amount));
  transform-origin: 0 0 0;
  width: calc(var(--original-width) * 1px);
}

.current-map__token-container {
  @apply absolute;

  transform: translateX(calc(((var(--viewport-x) / 2) - (var(--x) * var(--zoom-amount))) * 1px))
    translateY(calc(((var(--viewport-y) / 2) - (var(--y) * var(--zoom-amount))) * 1px))
    translateZ(0);
}

.current-map__token-drawer {
  @apply absolute;

  --drawer-scale: 1.25;
  left: 1rem;
  right: 0;
  top: 3rem;
  transform: scale(0);
  transform-origin: top left;
  transition: all 0.2s ease-in-out;
  z-index: 40;

  &.show {
    transform: scale(1);
  }

  .token {
    @apply
      static
      m-2
      flex-initial
    ;

    .token__image {
      border-width: calc(var(--base-border) * var(--drawer-scale));
      height: calc(var(--base-size) * var(--drawer-scale));
      width: calc(var(--base-size) * var(--drawer-scale));
    }

    .token__name {
      margin-left: calc((var(--base-size) + 4px) * var(--drawer-scale));
    }
  }
}
