.current-map {
  @apply w-full;

  background-position-x: calc(((var(--viewport-x) / 2) - (var(--x) * var(--zoom-amount))) * 1px);
  background-position-y: calc(((var(--viewport-y) / 2) - (var(--y) * var(--zoom-amount))) * 1px);
  background-repeat: no-repeat;
  background-size: calc(var(--width) * 1px) calc(var(--height) * 1px);
  cursor: move;
  user-select: none;

  .controls {
    [disabled] {
      @apply cursor-not-allowed text-gray-400;
    }
  }
}

.current-map__token-container {
  @apply relative;

  left: calc(((var(--viewport-x) / 2) - var(--x)) * 1px);
  top: calc(((var(--viewport-y) / 2) - var(--y)) * 1px);
}

.current-map__map-name {
  @apply
    inline-block
    m-2
    rounded-md
    bg-gray-200
    border
    px-2
    h-6
    text-sm
  ;
}

.current-map__token-drawer {
  @apply
    bg-gray-500
  ;

  --drawer-scale: 1.25;

  .token {
    @apply
      static
      m-2
    ;

    .token__image {
      border-width: calc(var(--base-border) * var(--drawer-scale));
      height: calc(var(--base-size) * var(--drawer-scale));
      width: calc(var(--base-size) * var(--drawer-scale));
    }

    .token__name {
      margin-left: calc((var(--base-size) + 4px) * var(--drawer-scale));
    }
  }
}
