:root {
  --zoom-scale: 1;
}

.token {
  @apply
    flex
    items-center
    absolute;

  margin-left: calc(-1rem * var(--zoom-scale));
  margin-top: calc(-1rem * var(--zoom-scale));
}

.token__image {
  @apply
    bg-cover
    bg-center
    rounded-full
    border-white
    pointer-events-none
    z-0
    shadow;

  border-width: calc(2px * var(--zoom-scale));
  height: calc(2rem * var(--zoom-scale));
  width: calc(2rem * var(--zoom-scale));
}

.token__name {
  @apply
    hidden
    bg-white
    rounded-full
    ml-2
    px-2
    text-xs
    z-10
    pointer-events-none;
}

.token:hover .token__name {
  @apply block;
}
