:root {
  --zoom-amount: 1;
}

.token {
  @apply
    flex
    items-center
    absolute
    z-50
  ;

  --base-border: 2px;
  --base-size: 40px;

  left: calc(var(--x) * var(--zoom-amount) * 1px);
  margin-left: calc((-1 * (var(--base-size) / 2)) * var(--size-scale) * var(--zoom-amount));
  margin-top: calc((-1 * (var(--base-size) / 2)) * var(--size-scale) * var(--zoom-amount));
  top: calc(var(--y) * var(--zoom-amount) * 1px);
}

.token__image {
  @apply
    bg-cover
    bg-center
    bg-gray-300
    rounded-full
    border-white
    pointer-events-none
    z-0
    shadow
    flex
    items-end
    justify-end;

  border-width: calc(var(--base-border) * var(--size-scale) * var(--zoom-amount));
  height: calc((var(--base-size) * var(--size-scale) * var(--zoom-amount)));
  width: calc((var(--base-size) * var(--size-scale) * var(--zoom-amount)));

  .selected & {
    @apply border-orange-600;
  }
}

.token__image-add {
  @apply
    text-2xl
    text-center
    bg-gray-300
    text-gray-700
    items-center
    justify-center;
}

.token__name {
  @apply
    absolute
    hidden
    bg-white
    rounded-full
    px-2
    text-xs
    z-10
    pointer-events-none
    whitespace-no-wrap
  ;

  margin-left: calc((var(--base-size) * var(--size-scale) + (2 * var(--base-border))) * var(--zoom-amount));
}

.token__identifier {
  @apply
    flex-none
    text-xs
    rounded-full
    bg-white
    px-1
    z-10
    pointer-events-none;
}

.token:hover .token__name {
  @apply block;
}
