<% if campaign.current_map.present? %>
  <%= content_tag :h2, campaign.current_map.name %>
  <div>
    <%= image_tag url_for campaign.current_map.image %>
  </div>
<% else %>
  <h2>No Current Map</h2>
<% end %>
