<div class="map-selector" data-target="campaign.mapSelector">
  <%= render campaign.maps %>

  <%= link_to new_campaign_map_path(campaign), remote: true, class: "map-selector__option map-selector__new" do %>
    <div class="absolute">
      <span class="">New Map</span>
    </div>
  <% end %>
</div>
