<% content_for :subtitle do %>
  <%= campaign.name %>
<% end %>

<%= content_tag :div, class: "flex flex-col flex-1 relative", data: { controller: "campaign", "campaign-id": campaign.id } do %>
  <% if dm?(campaign) %>
    <%= render "map_selector", campaign: campaign %>
  <% end %>

  <div class="flex-1" data-target="campaign.currentMap">
    <%= render partial: "current_map", locals: { campaign: campaign, admin: dm?(campaign) } %>
  </div>

  <div data-target="campaign.statusIndicator" class="absolute top-0 left-0 w-full h-full bg-white flex items-center justify-center opacity-50">
    <span>Connecting...</span>
  </div>
<% end %>
